
body {
  background-color: whitesmoke;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}

#registerContainer {
  right: 0%;
display: none
}


form {
  h2 {
    margin-bottom: 30px;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 30px;
    border: none;

    input {
      height: 40px;
      padding: 16px;
      font-size: 16px;
      line-height: 1.0;
      border-radius: 20px;
      border: 2px solid #59dbd2;
      transition:  0.5s ease-in-out;

      &:not(:placeholder-shown) + label,
      &:focus + label {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        color: black;
        border-color: #59dbd2;
        top: -30px;
        left: 5px;
      }
    }

    label {
      position: absolute;
      top: 12px;
      left: 17px;
      display: block;
      width: 100%;
      margin-bottom: 0;
      line-height: 1.0;
      color: black;
      cursor: text;
      transition: all 0.4s ease-in-out;
      border: none;
    }
  }

  button {
    margin-top: 20px;
    background: linear-gradient(180deg, rgba(89,219,210,1) 0%, rgba(61,61,61,1) 59%, rgba(102,252,241,1) 100%);
    border: none !important;
    border-color: none !important;
    border-radius: 30px !important;
    transition: 2s ease;
    cursor: pointer;
    outline: none;
    position:relative;
    overflow: hidden;

    &:hover {
     background: linear-gradient(180deg, rgba(61,61,61,1) 12%, rgba(89,219,210,1) 56%, rgba(61,61,61,1) 96%);
    }

    .btn-ripple {
      background-color: rgba(255, 255, 255, 0.3);
      position:absolute;
      border-radius: 100%;
      animation: ripple 1s;
      opacity: 0;
      transform: scale(0);
  }
  }

  a {
    display: block;
    margin-top: 20px;
  }
}

.hide {
  display: none;
}

// Animation

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
}

to {
    opacity: 0;
    transform: scale(10);
}
}
